<link href="/css/comment.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="/js/mg/heart.js"></script>
<script src="js/mg/mdetail.js"></script>

<div class="container">
    <hr>
    <hr>
    <div class="row row-offcanvas row-offcanvas-right with_background">
        <div class="col-xs-12 col-sm-9">

            <h3 class="movie_title">{{movie_data.title}} ({{movie_data.year}})</h3>
            <div id="mdetail-info" class="row">

                <div class="col-xs-6 col-lg-4">
                    <img class="movie_poster" src="/images/movie_poster/{{movie_data.id}}.png" class="img-responsive" alt="poster">
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3 class="nomargintop_h3">Introduction</h3>
                    <p>{{movie_data.introduction}}</p>
                    <p><strong>Director: </strong>{{movie_data.director}}</p>
                    <p><strong>Writers: </strong>{{movie_data.writers}}</p>
                    <p><strong>Stars: </strong>{{movie_data.stars}}</p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3 class="nomargintop_h3">MovieGrail Score</h3>
                    <p>{{avgrank.avg_rank}}</p>
                    <span id="infoHearts" >
                    {{#times avgrank 0}}
                        <span id="rankhearts"
                              class="glyphicon .glyphicon-heart-empty glyphicon-heart"></span>
                    {{/times}}
                    {{#times 5 avgrank}}
                        <span id="rankhearts"
                              class="glyphicon .glyphicon-heart-empty glyphicon-heart-empty"></span>
                    {{/times}}
                    </span>
                </div><!--/.col-xs-6.col-lg-4-->

            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
    <hr>
    <form>
        <div class="container pb-cmnt-container" >
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <a title="" id="addNewCommentPop" data-toggle="popover" data-trigger="focus"
                               data-content="">
                            <textarea placeholder="Write Your Ideas Here" onclick="javascript:checkIsLogin()" id="addNewComment" class="pb-cmnt-textarea"></textarea>
                            </a>
                            Rank this movie please: <span id="hearts" class="starrr" ></span><span id="count">0</span> heart(s)
                            <input type="checkbox" id="isAnonymous" value="1">Anonymous comment?
                            <button type="button" id="confirmSubmit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="form-group">
            <div class="col-sm-7">
                <a href="#" title="" id="addNewCommentPop" data-toggle="popover" data-trigger="focus"
                   data-content="">
                <textarea class="form-control" rows="5" placeholder="Write Your Ideas" id="addNewComment"
                          onclick="javascript:checkIsLogin()"></textarea>
                </a>
            </div>
        </div>-->


        <div class="container">
            <div class="row">
                {{#if comment_data}}
                    {{#each comment_data}}
                            <div class="col-sm-7">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#"><b>
                                                    {{#ifCond is_anonymous 1}}
                                                        Anonymous User
                                                    {{else}}
                                                        {{username}}
                                                    {{/ifCond}}
                                                    </b></a>
                                                made a post and ranked:
                                                {{#times rank 0}}
                                                    <span class="glyphicon .glyphicon-heart-empty glyphicon-heart"></span>
                                                {{/times}}
                                                {{#times 5 rank}}
                                                    <span class="glyphicon .glyphicon-heart-empty glyphicon-heart-empty"></span>
                                                {{/times}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>{{comment_con}}</p>
                                        <div class="stats">
                                            <a onclick="javascript:likeComment({{comment_id}})" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-up icon"></i>{{like_num}}
                                            </a>
                                            <a onclick="javascript:dislikeComment({{comment_id}})" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-down icon"></i>{{dislike_num}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </form>
</div><!--/.container-->

<div class="hidden">
    <input id="movie_id" value="{{movie_data.id}}" />
</div>

