<script type="text/javascript">
    $(document).ready(function(){
        $("#confirmSubmit").click(function(){

            var comment_content = $("#addNewComment").val();
            if(comment_content.length < 1) {
                alert("Write your ideas and submit again.");
                return;
            }
            var isAnonymous;
            if($("#isAnonymous").is(':checked')) {
                isAnonymous = 1;
            } else {
                isAnonymous = 0;
            }
            var movie_id = $("#movie_id").val();

            var result;
            $.ajax({
                type: "POST",
                url : "/mdetail/addcomment",
                dataType: 'json',
                async : false,
                data:{"isAnonymous":isAnonymous, "movie_id":movie_id, "comment_content":comment_content},
                success: function(data) {
                    result = data;
                }
            });
            alert(result);
            if(result == true) {
                alert("Comment Submit Successfully");
                location.reload();
            } else {
                alert("Fail to Submit Comment");
            }

        });
    });
</script>
<div class="container">
    <hr>
    <hr>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">

            <div class="row">
                <div class="col-xs-6 col-lg-4">
                    <h3>{{title}} ({{year}})</h3>
                    <a href="#" class="thumbnail">
                        <img src="/images/movie_poster/{{id}}.png" alt="poster">
                    </a>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Introduction</h3>
                    <p>{{introduction}}</p>
                    <p><strong>director:</strong>{{director}}</p>
                    <p><strong>writers:</strong>{{writers}}</p>
                    <p><strong>stars:</strong>{{stars}}</p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Rank</h3>

                </div><!--/.col-xs-6.col-lg-4-->

            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
    <hr>
    <form>
        <div class="form-group">
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" placeholder="Write Your Ideas" id="addNewComment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="checkbox" id="isAnonymous" value="1">Anonymous?
                <button type="button" id="confirmSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div><!--/.container-->

<div class="hidden">
    <input id="movie_id" value="{{id}}" />
</div>

