<link href="/css/comment.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="/js/heart.js"></script>
<script type="text/javascript">
    function likeComment(comment_id) {
        var res;
        $.ajax({
            type: "GET",
            url : "/mdetail/likecomment",
            dataType: 'json',
            async : false,
            data : {"comment_id":comment_id},
            success: function(data) {
                res = data;
            }
        });
        if(res.result) {
            location.reload();
        }
    }
    function dislikeComment(comment_id) {
        var res;
        $.ajax({
            type: "GET",
            url : "/mdetail/dislikecomment",
            dataType: 'json',
            async : false,
            data : {"comment_id":comment_id},
            success: function(data) {
                res = data;
            }
        });
        if(res.result) {
            location.reload();
        }
    }
    function checkIsLogin() {
        $('#addNewCommentPop').popover('destroy');
        var isLoginResult;
        $.ajax({
            type: "GET",
            url : "/login/checkIsLogin",
            dataType: 'text',
            async : false,
            success: function(data) {
                isLoginResult = data;
            }
        });
        if(isLoginResult === "false") {
            $('#addNewCommentPop').popover({title: "Woops!", content: "Please Log In First."});
            $('#addNewCommentPop').popover('show');
            return false;
        }
        return true;
    }
    $(document).ready(function(){
        $('#addNewCommentPop').popover('destroy');
        $("#confirmSubmit").click(function(){

            if(!checkIsLogin()) {
                return;
            }

            var comment_content = $("#addNewComment").val();
            if(comment_content.length < 1) {
                $('#addNewCommentPop').popover({title: "Woops!", content: "Write your ideas and submit again."});
                $('#addNewCommentPop').popover('show');
                return;
            }
            var isAnonymous;
            if($("#isAnonymous").is(':checked')) {
                isAnonymous = 1;
            } else {
                isAnonymous = 0;
            }
            var movie_id = $("#movie_id").val();
            var rank = $("#count").text();
            if(rank < 1) {
                $('#addNewCommentPop').popover({title: "Woops!", content: "Don't forget rank this movie, please."});
                $('#addNewCommentPop').popover('show');
                return;
            }

            var sresult;
            $.ajax({
                type: "POST",
                url : "/mdetail/addcomment",
                dataType: 'json',
                async : false,
                data:{"isAnonymous":isAnonymous, "movie_id":movie_id, "comment_content":comment_content, "rank":rank},
                success: function(data) {
                    sresult = data;
                }
            });
            if(sresult.result === true) {
                location.reload();
            } else {
                $('#addNewCommentPop').popover({title: "Woops!", content: sresult.detail});
                $('#addNewCommentPop').popover('show');
            }

        });
    });
</script>
<div class="container">
    <hr>
    <hr>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">

            <h3 style="font-size: xx-large;margin-bottom: 20px;">{{movie_data.title}} ({{movie_data.year}})</h3>
            <div id="mdetail-info" class="row">

                <div class="col-xs-6 col-lg-4">
                    <img style="height: 300px;" src="/images/movie_poster/{{movie_data.id}}.png" class="img-responsive" alt="poster">
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3 style="margin-top: 0px">Introduction</h3>
                    <p>{{movie_data.introduction}}</p>
                    <p><strong>Director: </strong>{{movie_data.director}}</p>
                    <p><strong>Writers: </strong>{{movie_data.writers}}</p>
                    <p><strong>Stars: </strong>{{movie_data.stars}}</p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3 style="margin-top: 0px">MovieGrail Score</h3>
                    <p>{{avgrank.avg_rank}}</p>
                    <span id="infoHearts" >
                    {{#times avgrank 0}}
                        <span id="rankhearts"
                              class="glyphicon .glyphicon-heart-empty glyphicon-heart"></span>
                    {{/times}}
                    {{#times 5 avgrank}}
                        <span id="rankhearts"
                              class="glyphicon .glyphicon-heart-empty glyphicon-heart-empty"></span>
                    {{/times}}
                    </span>
                </div><!--/.col-xs-6.col-lg-4-->

            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
    <hr>
    <form>
        <div class="container pb-cmnt-container" >
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <a title="" id="addNewCommentPop" data-toggle="popover" data-trigger="focus"
                               data-content="">
                            <textarea placeholder="Write Your Ideas Here" onclick="javascript:checkIsLogin()" id="addNewComment" class="pb-cmnt-textarea"></textarea>
                            </a>
                            Rank this movie please: <span id="hearts" class="starrr" ></span><span id="count">0</span> heart(s)
                            <input type="checkbox" id="isAnonymous" value="1">Anonymous comment?
                            <button type="button" id="confirmSubmit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="form-group">
            <div class="col-sm-7">
                <a href="#" title="" id="addNewCommentPop" data-toggle="popover" data-trigger="focus"
                   data-content="">
                <textarea class="form-control" rows="5" placeholder="Write Your Ideas" id="addNewComment"
                          onclick="javascript:checkIsLogin()"></textarea>
                </a>
            </div>
        </div>-->


        <div class="container">
            <div class="row">
                {{#if comment_data}}
                    {{#each comment_data}}
                            <div class="col-sm-7">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a href="#"><b>
                                                    {{#ifCond is_anonymous 1}}
                                                        Anonymous User
                                                    {{else}}
                                                        {{username}}
                                                    {{/ifCond}}
                                                    </b></a>
                                                made a post and ranked:
                                                {{#times rank 0}}
                                                    <span class="glyphicon .glyphicon-heart-empty glyphicon-heart"></span>
                                                {{/times}}
                                                {{#times 5 rank}}
                                                    <span class="glyphicon .glyphicon-heart-empty glyphicon-heart-empty"></span>
                                                {{/times}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>{{comment_con}}</p>
                                        <div class="stats">
                                            <a onclick="javascript:likeComment({{comment_id}})" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-up icon"></i>{{like_num}}
                                            </a>
                                            <a onclick="javascript:dislikeComment({{comment_id}})" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-down icon"></i>{{dislike_num}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </form>
</div><!--/.container-->

<div class="hidden">
    <input id="movie_id" value="{{movie_data.id}}" />
</div>

